*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}

header {
    font-size: 56px;
    font-weight: bold;
    color: #75B79E;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.memory-game {
    display: flex;
    width: 980px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 193px;
    margin-top: 35px;

}

.memory-card {
    width: 117px;
    height: 146px;
    position: relative;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    padding-top: 17px;
    padding-left: 8px;
    margin: 10px;
    transform: scale(1);
}

.memory-card:active{
    transform: scale(.97);
    transition: transform .2s;
}

img {
    width: 100px;
    height: 100px;
}

.front-face, .back-face {
    position: absolute;
}